<h2>Create a New Recipe!</h2>
<form method="POST" action="/recipes">
  <label>Recipe Name: </label>
  <input id="name" type="text" name="name">
  <br>
  <label>Ingredients: </label>
  <input id="ingredients" type="text" name="ingredients">
  <br>
  <label>Cooking Time: </label>
  <input id="cook_time" type="number" name="cook_time">
  <br>
  <input id="submit" type="submit">
</form>